@charset "UTF-8";
@import url("https://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css");
@font-face {
  font-family: "PFDinDisplayPro";
  src: url("../fonts/pfdindisplaypro-light.ttf"), url("../fonts/pfdindisplaypro-light.ttf") format("embedded-opentype");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: "PFDinDisplayPro";
  src: url("../fonts/PFDinDisplayPro Regular.ttf"), url("../fonts/pfdindisplaypro-reg.ttf") format("embedded-opentype");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: "PFDinDisplayPro";
  src: url("../fonts/pfdindisplaypro-Medium.ttf"), url("../fonts/pfdindisplaypro-Medium.ttf") format("embedded-opentype");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: "PFDinDisplayPro";
  src: url("../fonts/pfdindisplaypro-bold.ttf"), url("../fonts/pfdindisplaypro-bold.ttf") format("embedded-opentype");
  font-weight: 700;
  font-style: normal; }

* {
  padding: 0px;
  margin: 0px;
  border: 0px; }

* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

:focus, :active {
  outline: none; }

a:focus, a:active {
  outline: none; }

aside, nav, footer, header, section {
  display: block; }

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  min-width: 320px;
  position: relative;
  width: 100%;
  color: #000; }

body {
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  font-family: "PFDinDisplayPro";
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }
  body.lock {
    overflow: hidden; }
    @media (max-width: 767.98px) {
      body.lock {
        width: 100%;
        position: fixed;
        overflow: hidden; } }

input, button, textarea {
  font-family: "PFDinDisplayPro"; }

input::-ms-clear {
  display: none; }

button {
  cursor: pointer; }

button::-moz-focus-inner {
  padding: 0;
  border: 0; }

a, a:visited {
  text-decoration: none; }

a:hover {
  text-decoration: none; }

ul li {
  list-style: none; }

img {
  vertical-align: top; }

h1, h2, h3, h4, h5, h6 {
  font-weight: inherit;
  font-size: inherit; }

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden; }

.container {
  max-width: 1650px;
  margin: 0 auto;
  width: 100%;
  padding: 0 10px; }
  @media (max-width: 1662px) {
    .container {
      max-width: 1320px; } }
  @media (max-width: 1300px) {
    .container {
      max-width: 1100px; } }
  @media (max-width: 992.98px) {
    .container {
      max-width: 750px; } }
  @media (max-width: 767.98px) {
    .container {
      max-width: none;
      padding: 0 10px; } }

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden; }

.container {
  max-width: 1650px;
  margin: 0 auto;
  width: 100%;
  padding: 0 10px; }

.fall-menu {
  position: absolute;
  width: 200px;
  height: auto;
  visibility: hidden;
  top: 70px;
  left: 26%;
  z-index: 10;
  padding-bottom: 10px;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  background-color: #fff;
  opacity: 0;
  -webkit-transition: left .3s linear;
  -o-transition: left .3s linear;
  transition: left .3s linear;
  -webkit-transition: opacity .3s linear;
  -o-transition: opacity .3s linear;
  transition: opacity .3s linear; }
  @media (max-width: 992.98px) {
    .fall-menu {
      top: -120%; } }

.fall-menu.active {
  opacity: 1;
  visibility: visible;
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  transform: translate(0, 0);
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  border-radius: 5px;
  -webkit-box-shadow: 0px 33px 49px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 33px 49px 0px rgba(0, 0, 0, 0.1);
  top: 65px;
  left: 13%; 
  }
  .fall-menu.active .fall-menu__items {
    position: relative;
    top: 0; }
    .fall-menu.active .fall-menu__items .menu__list--f {
      display: none; }
      @media (max-width: 479.98px) {
        .fall-menu.active .fall-menu__items .menu__list--f {
          display: block;
          padding-bottom: 30px; } }
  @media (max-width: 992.98px) {
    .fall-menu.active {
      left: 45%;
      top: 75px;
      height: 235px;
      width: 245px;
      background-color: transparent;
      border-radius: 0px;
      -webkit-box-shadow: 0px 33px 49px 0px rgba(0, 0, 0, 0);
      box-shadow: 0px 33px 49px 0px rgba(0, 0, 0, 0); } }
  @media (max-width: 479.98px) {
    .fall-menu.active {
      position: absolute;
      top: 122px;
      left: 50%;
      -webkit-transform: translate3d(-50%, 0, 0);
      transform: translate3d(-50%, 0, 0); } }

.fall-menu__link {
  color: #333; }

.fall-menu__items {
  padding-left: 10px;
   }

.fall-menu__items li {
  margin-top: 10px; }
.fall-menu__items .menu__link {
  text-transform: none;
  font-size: 24px;
}
.menu__list .fall-menu__items li:nth-child(2):after{
  display: none;
}


  @media (max-width: 992.98px) {
    .fall-menu__items li {
      margin-top: 15px; } }
  @media (max-width: 479.98px) {
    .fall-menu__items li {
      text-align: center; } }
  .fall-menu__items li a.menu__link--f {
    display: none; }
    @media (max-width: 479.98px) {
      .fall-menu__items li a.menu__link--f {
        font-size: 28px;
        display: block; }
        .fall-menu__items li a.menu__link--f:after {
          content: '';
          display: block;
          width: 9px;
          height: 8px;
          border-top: 2px solid #fff;
          border-right: 2px solid #fff;
          position: absolute;
          right: 45px;
          top: 50%;
          z-index: 1;
          -webkit-transform: translateY(-75%) rotate(135deg);
          -ms-transform: translateY(-75%) rotate(135deg);
          transform: translateY(-75%) rotate(135deg); } }
  @media (max-width: 479.98px) {
    .fall-menu__items li a {
      font-size: 22px; } }

@media (max-width: 1662px) {
  .container {
    max-width: 1320px; } }

@media (max-width: 1300px) {
  .container {
    max-width: 1100px; } }

@media (max-width: 992.98px) {
  .container {
    max-width: 750px; } }

@media (max-width: 767.98px) {
  .container {
    max-width: none;
    padding: 0 10px; } }

.header {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 50; }

.header.fixed {
  position: fixed; }

.header:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  z-index: 2; }

.header__row {
  height: 100px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  font-size: 0;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative; }

@media (max-width: 992.98px) {
  .header__row {
    height: 75px; } }

.header__menu {
  z-index: 3;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  font-size: 0;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 100%; }

@media (max-width: 992.98px) {
  .header__menu {
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #2a5d68;
    padding: 70px 10px 20px 10px;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    overflow: auto;
    z-index: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start; } }

.header__menu.active {
  top: 0px; }

.menu__body {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  font-size: 0;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

@media (max-width: 992.98px) {
  .menu__body {
    width: 100%;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start; } }

.menu__logo {
  display: inline;
  margin-right: 9px;
  z-index: 3; }

.menu__logo-text {
  display: inline;
  font-size: 25.3px;
  font-weight: 400;
  letter-spacing: 0.05em;
  color: #2a5d68;
  flex: 1 1 auto;
  z-index: 3; }


@media (max-width: 1300px) {
  .menu__logo-text {
    margin-right: 10px;
    font-size: 22px; } }

.menu__list {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  font-size: 0;
  padding-top: 4px;
  -webkit-transition: left .3s linear;
  -o-transition: left .3s linear;
  transition: left .3s linear;
  position: relative;
  left: 0; }
  @media (max-width: 479.98px) {
    .menu__list-left {
      position: absolute;
      left: -100%; } }

@media (max-width: 992.98px) {
  .menu__list {
    display: block; } }

.menu__list li {
  margin-right: 65px; }

@media (max-width: 1662px) {
  .menu__list li {
    margin-right: 45px; } }

@media (max-width: 1300px) {
  .menu__list li {
    margin-right: 32px; } }

@media (max-width: 1100px) {
  .menu__list li {
    margin-right: 20px; } }

.menu__list li:last-child {
  margin-right: 0; }

.menu__list li:nth-child(2) {
  position: relative; }

.menu__list li:nth-child(2):after {
  content: '';
  display: block;
  width: 9px;
  height: 8px;
  border-top: 2px solid #313239;
  border-right: 2px solid #313239;
  position: absolute;
  right: -18px;
  top: 50%;
  z-index: 1;
  -webkit-transform: translateY(-75%) rotate(135deg);
  -ms-transform: translateY(-75%) rotate(135deg);
  transform: translateY(-75%) rotate(135deg); }

@media (max-width: 1100px) {
  .menu__list li:nth-child(2):after {
    right: -14px; } }

@media (max-width: 992.98px) {
  .menu__list li:nth-child(2):after {
    border-top: 2px solid #fff;
    border-right: 2px solid #fff;
    right: 30px; } }

@media (max-width: 992.98px) {
  .menu__list li {
    margin-top: 30px; } }

.menu__link {
  font-size: 18px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  color: #313239;
  position: relative; }

.menu__link.active {
  color: #2a5d68; }

@media (max-width: 1300px) {
  .menu__link {
    font-size: 15px; } }

@media (max-width: 992.98px) {
  .menu__link {
    font-size: 24px;
    color: #fff; } }

.menu__tel {
  padding-left: 87px;
  padding-right: 65px;
  font-size: 24px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  color: #2a5d68;
  -webkit-transition: left .3s linear;
  -o-transition: left .3s linear;
  transition: left .3s linear; }
  @media (max-width: 479.98px) {
    .menu__tel-left {
      position: relative;
      left: -100%; } }

@media (max-width: 1662px) {
  .menu__tel {
    padding-left: 25px;
    padding-right: 18px; } }

@media (max-width: 1300px) {
  .menu__tel {
    font-size: 20px;
    padding-right: 10px;
    padding-left: 15px; } }

@media (max-width: 1120px) {
  .menu__tel {
    padding-right: 10px;
    padding-left: 15px; } }

@media (max-width: 992.98px) {
  .menu__tel {
    color: #333;
    padding: 30px 0 30px 0; } }

.menu__call {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  font-size: 0;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 100%;
  font-size: 24px;
  font-weight: 400;
  letter-spacing: 0.05em;
  color: #2a5d68;
  padding: 0px 20px 0px 20px;
  z-index: 50;
  background-color: #ffdd93;
  height: 100%;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -ms-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  -webkit-transition: left .3s linear;
  -o-transition: left .3s linear;
  transition: left .3s linear; }
  @media (max-width: 479.98px) {
    .menu__call-left {
      position: relative;
      left: -100%; } }
  .menu__call:active {
    background-color: #bd1f1e;
    color: #fff; }

@media (max-width: 1300px) {
  .menu__call {
    font-size: 20px; } }

@media (max-width: 992.98px) {
  .menu__call {
    height: auto; } }

.icon-menu {
  display: none;
  position: absolute;
  top: 30px;
  right: 0px;
  width: 30px;
  height: 18px;
  cursor: pointer;
  z-index: 5; }

@media (max-width: 992.98px) {
  .icon-menu {
    display: block; } }

.icon-menu span {
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -ms-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  top: 8px;
  left: 0;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #000; }

.icon-menu span:first-child {
  top: 0; }

.icon-menu span:last-child {
  top: auto;
  bottom: 0; }

.icon-menu.active span {
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -webkit-transform: scale(0);
  -o-transform: scale(0);
  transform: scale(0); }

.icon-menu.active span:first-child {
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: 8px; }

.icon-menu.active span:last-child {
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  bottom: 8px; }

.container-services {
  max-width: 975px;
  padding: 0 15px;
  margin: 0 auto; }

.footer-container-services {
  max-width: 975px;
  padding: 0 15px;
  margin: 0 auto; }

.footer {
  background-color: #2a5d68; }

.footer-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 50px; }

.footer-items__column {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 33.333%;
  flex: 0 1 33.333%; }

.footer-logo__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.footer-items__info {
  font-weight: 400;
  color: #fff;
  letter-spacing: 1px;
  margin-top: 45px;
  margin-left: 15px; }

.footer-items__info-title {
  font-size: 35px;
  margin-bottom: 10px; }

.footer-items__info-text {
  font-size: 17px;
  margin-bottom: 10px;
  max-width: 212px; }

.footer-items__info-city {
  font-size: 25px;
  text-transform: uppercase; }

.footer-items__info-contacts {
  font-size: 15px;
  max-width: 220px; }

.footer-items__menu {
  margin-top: 33px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

.footer-menu {
  font-size: 25px;
  font-weight: 400;
  line-height: 60px; }

.footer-menu a {
  color: #fff; }

.footer-menu a:hover {
  text-decoration: underline; }

.footer-items__title {
  margin-top: 45px;
  font-size: 30px;
  color: #fff;
  font-weight: 400; }

.footer-items__buttons {
  margin-top: 70px;
  font-weight: 400;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.footer-items__buttons-phone {
  font-size: 15px;
  letter-spacing: 1px;
  font-weight: bold;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out; }

.footer-items__buttons-phone a:hover {
  background-color: #f3f3f3;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out; }

.footer-items__buttons-send a {
  width: 250px;
  padding: 20px 70px;
  background-color: #bd1f1e;
  color: #fff;
  -webkit-box-shadow: 0 1px 15px rgba(0, 0, 0, 0.911);
  box-shadow: 0 1px 15px rgba(0, 0, 0, 0.911);
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out; }

.footer-items__buttons-send a:hover {
  -webkit-box-shadow: 0 1px 15px #bd1f1e;
  box-shadow: 0 1px 15px #bd1f1e;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out; }

.footer-items__buttons-phone a {
  color: #000; }

.footer__btn {
  padding: 20px;
  width: 330px;
  background-color: #fff;
  border-radius: 50px; }

.footer-items__socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  margin: 80px 0 0 0; }

.footer-items__socials-item {
  margin-left: 44px; }

.footer-items__socials-item:first-child {
  margin-left: 0; }

.footer-rights {
  text-align: center;
  font-size: 17px;
  color: #fff;
  font-weight: 400;
  letter-spacing: 1px;
  padding-bottom: 25px; }

@media (max-width: 1670px) {
  .footer-items__buttons {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
  .footer-items__buttons-send {
    margin-top: 60px; }
  .footer-items__socials {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    margin: 50px 0 0 0; }
  .footer-rights {
    margin-top: 20px; } }

@media (max-width: 1060px) {
  .footer-items {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
  .footer-items__column {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 50%;
    flex: 0 1 50%; }
  .footer-items__column:last-child {
    margin: 0 auto; }
  .footer-items__contact {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .footer-items__buttons {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .footer-items__socials {
    margin: 44px 0 0 0; }
  .footer-items__title {
    margin-top: 30px; } }

@media (max-width: 938px) {
  .footer-items__column:last-child {
    margin: 0; }
  .footer-items__contact {
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start; }
  .footer-items__buttons {
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start; } }

@media (max-width: 730px) {
  .footer-items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .footer-items__column {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 100%;
    flex: 0 1 100%; }
  .footer-items__menu {
    margin-top: 33px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    text-align: center; }
  .footer-items__buttons {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .footer-items__contact {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .footer-items__title {
    text-align: center; } }

@media (max-width: 375px) {
  .footer-logo__items {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .footer-items__info {
    text-align: center;
    margin-top: 20px; }
  .footer-items__buttons {
    margin-top: 50px; }
  .footer-items__menu {
    margin-top: 20px; }
  .footer-items__title {
    margin-top: 20px; } }

.ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat; }
  .ibg img {
    display: none; }

.slick-slider {
  position: relative; }
  .slick-slider .slick-list {
    overflow: hidden; }
  .slick-slider .slick-track {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    font-size: 0;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start; }

.section, .section-company, .section-how, .section-obsudim, .portfolio, .section-reviews {
  position: relative;
  z-index: 1; }
  .section:after, .section-company:after, .section-how:after, .section-obsudim:after, .portfolio:after, .section-reviews:after {
    content: "";
    background-image: url("../img/main/dots_startsection.png");
    background-repeat: no-repeat;
    position: absolute;
    display: block;
    top: -30px;
    left: 50%;
    -webkit-transform: translate3d(-50%, 0, 0);
    transform: translate3d(-50%, 0, 0);
    width: 26px;
    height: 68px;
    z-index: 1; }

.uslugi, .bg-how, .bg-portfolio, .reviews__bg {
  background-image: url(../img/main/uslugi/bg.png);
  background-repeat: no-repeat;
  background-position: center top;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0; }

.intro {
  height: 100%;
  width: 100%;
  padding-top: 123px;
  padding-bottom: 82px;
  position: relative;
  z-index: 3;
  background: url("../img/main/intro__bg.png") center center no-repeat; }
  @media (max-width: 1662px) {
    .intro {
      padding-bottom: 92px; } }
  @media (max-width: 992.98px) {
    .intro {
      padding-bottom: 90px; } }
  @media (max-width: 767.98px) {
    .intro {
      padding-bottom: 50px; } }
  .intro__row {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    font-size: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
  .intro__title {
    padding-top: 221px;
    font-size: 90px;
    line-height: 1.2;
    font-weight: 400;
    color: #18181f; }
    @media (max-width: 992.98px) {
      .intro__title {
        padding-top: 110px;
        font-size: 75px; } }
    @media (max-width: 767.98px) {
      .intro__title {
        padding-top: 60px;
        font-size: 55px; } }
    @media (max-width: 479.98px) {
      .intro__title {
        padding-top: 0px;
        font-size: 48px; } }
    .intro__title span {
      font-weight: 700;
      letter-spacing: 0.05em;
      color: #2a5d68; }
  .intro__text {
    font-size: 36px;
    font-weight: 300;
    letter-spacing: 0.05em;
    color: #000000;
    padding-top: 50px; }
    @media (max-width: 767.98px) {
      .intro__text {
        padding-top: 30px;
        font-size: 30px; } }
    @media (max-width: 1662px) {
      .intro__text {
        font-size: 24px; } }

.form {
  padding: 101px 0 0px 0; }
  @media (max-width: 992.98px) {
    .form {
      padding: 60px 0 0px 0; } }
  @media (max-width: 479.98px) {
    .form {
      padding: 30px 0 0px 0; } }
  .form__input {
    width: 390px;
    background-color: #fff;
    border-radius: 34.9px;
    padding: 29px 0px 24px 69px;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 0.05em;
    color: #18181f; }
    .form__input:focus::-webkit-input-placeholder {
      color: transparent; }
    .form__input:focus::-moz-placeholder {
      color: transparent; }
    .form__input:focus:-moz-placeholder {
      color: transparent; }
    .form__input:focus:-ms-input-placeholder {
      color: transparent; }
    @media (max-width: 767.98px) {
      .form__input {
        width: 300px;
        padding: 20px 0px 17px 25px; } }
    @media (max-width: 650px) {
      .form__input {
        margin-bottom: 15px;
        margin-right: 150px; } }
  .form__btn {
    -webkit-box-shadow: 0px 8px 18px 0px rgba(189, 31, 29, 0.4);
    box-shadow: 0px 8px 18px 0px rgba(189, 31, 29, 0.4);
    background-color: #bd1f1e;
    border-radius: 34.9px;
    padding: 27px 44px 23px 41px;
    margin-left: 31px;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 0.05em;
    color: #ffffff; }
    @media (max-width: 767.98px) {
      .form__btn {
        padding: 20px 20px 17px 20px; } }
    @media (max-width: 650px) {
      .form__btn {
        padding: 20px 25px 17px 29px;
        margin-left: 0; } }

.intro__dots {
  position: absolute;
  left: 50%;
  bottom: 52px;
  -webkit-transform: translate3d(-50%, 0, 0);
  transform: translate3d(-50%, 0, 0); }
  @media (max-width: 767.98px) {
    .intro__dots {
      bottom: 15px; } }

.intro__row {
  position: relative; }

.intro__scroll {
  position: absolute;
  right: 0;
  bottom: 0; }
  @media (max-width: 992.98px) {
    .intro__scroll {
      bottom: -40px; } }
  @media (max-width: 767.98px) {
    .intro__scroll {
      bottom: -20px; } }

.dots__item {
  display: inline-block;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #fff;
  margin-right: 10px; }
  .dots__item:last-child {
    margin-right: 0; }
  .dots__item.active {
    background-color: #bd1f1e; }

.scroll__body {
  position: relative;
  cursor: pointer; }

.scroll__icon {
  font-size: 36px;
  line-height: 1.2;
  font-weight: 400;
  letter-spacing: 0.05em;
  color: #ffffff;
  display: inline;
  position: relative;
  top: 3px; }
  @media (max-width: 767.98px) {
    .scroll__icon {
      font-size: 24px; } }

.scroll__text {
  font-size: 24px;
  font-weight: 400;
  letter-spacing: 0.05em;
  color: #ffffff;
  display: inline;
  padding-right: 23px; }
  @media (max-width: 767.98px) {
    .scroll__text {
      font-size: 18px; } }

.slider-intro {
  /* Лента слайдов */
  /* Активная точка */
  /* Элемент точки */ }
  .slider-intro .slick-list {
    overflow: hidden; }
  .slider-intro .slick-track {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .slider-intro .slick-dots {
    position: absolute;
    left: 50%;
    -webkit-transform: translate3d(-50%, 0, 0);
    transform: translate3d(-50%, 0, 0);
    bottom: 50px;}  
  .slider-intro .slick-dots li {
    cursor: pointer;
    display: inline-block;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: #fff;
    margin-right: 10px; }
    .slider-intro .slick-dots li:last-child {
      margin-right: 0; }
  .slider-intro .slick-dots li.slick-active {
    background-color: #bd1f1e; }
  .slider-intro .slick-dots li button {
    font-size: 0;
    background-color: transparent; }

.title {
  font-size: 72px;
  font-weight: 400;
  color: #18181f; }

.text {
  font-size: 24px;
  line-height: 36px;
  font-weight: 400;
  color: #18181f;
  letter-spacing: -1px; }

.uslugi {
  position: relative;
  height: 100%;
  width: 100%;
  z-index: 2; }
  .uslugi__content {
    padding-top: 61px; }
  .uslugi__top {
    text-align: center; }
  .uslugi__title {
    padding-bottom: 36px; }
  .uslugi__text {
    line-height: 1.2;
    padding-bottom: 52px; }
  .uslugi__row {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    font-size: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
  .uslugi__column {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    font-size: 0;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-bottom: 27px;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
    @media (max-width: 992.98px) {
      .uslugi__column {
        margin-bottom: 0; } }
    @media (max-width: 767.98px) {
      .uslugi__column {
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center; } }

.item {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  font-size: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-shadow: 0px 33px 49px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 33px 49px 0px rgba(0, 0, 0, 0.1);
  background-color: #fffffc;
  border-radius: 10.0px;
  -webkit-box-flex: 0;
  -ms-flex: 0 1 23.8%;
  flex: 0 1 23.8%; }
  @media (max-width: 992.98px) {
    .item {
      -webkit-box-flex: 0;
      -ms-flex: 0 1 48%;
      flex: 0 1 48%;
      margin-bottom: 25px; } }
  @media (max-width: 767.98px) {
    .item {
      -webkit-box-flex: 0;
      -ms-flex: 0 1 100%;
      flex: 0 1 100%;
      text-align: center; } }
  .item__body {
    padding-left: 29px;
    padding-right: 35px;
    position: relative;
    -webkit-box-flex: 0;
    -ms-flex: 0 1 100%;
    flex: 0 1 100%;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    font-size: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
    @media (max-width: 992.98px) {
      .item__body {
        padding-left: 15px;
        padding-right: 20px; } }
  .item__img {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto; }
    .item__img img {
      max-width: 100%; }
  .item__title {
    font-size: 24px;
    font-weight: 700;
    color: #18181f;
    padding-top: 24px;
    padding-bottom: 17px; }
    @media (max-width: 1300px) {
      .item__title {
        padding-top: 15px;
        padding-bottom: 10px; } }
  .item__text {
    font-size: 18px;
    line-height: 1.2;
    font-weight: 400;
    color: #18181f;
    padding-bottom: 42px;
    -webkit-box-flex: 0;
    -ms-flex: 0 1 100%;
    flex: 0 1 100%; }
    @media (max-width: 1300px) {
      .item__text {
        padding-bottom: 15px; } }
  .item__price {
    font-size: 30px;
    line-height: 1.2;
    font-weight: 400;
    color: #18181f;
    padding-bottom: 44.5px; }
    @media (max-width: 1300px) {
      .item__price {
        padding-bottom: 25px; } }
    .item__price span {
      color: #2a5d68; }
  .item__icon {
    position: absolute;
    bottom: 45.5px;
    right: 42px; }
    @media (max-width: 1300px) {
      .item__icon {
        right: 5px;
        bottom: 25px; } }
    .item__icon .icon {
      font-size: 30px;
      font-weight: 400;
      color: #bd1f1e; }

.company {
  margin-top: 30px; }
  .company__content {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    font-size: 0; }
    @media (max-width: 992.98px) {
      .company__content {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column; } }
  .company__body {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 57.63636%;
    flex: 0 1 57.63636%;
    padding-right: 32px; }
    @media (max-width: 992.98px) {
      .company__body {
        -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
        flex: 0 1 100%;
        padding-right: 0; } }
    @media (max-width: 479.98px) {
      .company__body {
        padding-bottom: 30px; } }
  .company__text {
    padding-top: 45px;
    padding-bottom: 100px; }
    @media (max-width: 1300px) {
      .company__text {
        padding-top: 25px;
        padding-bottom: 60px; } }
    @media (max-width: 992.98px) {
      .company__text {
        padding-top: 15px;
        padding-bottom: 40px; } }
  .company__images {
    position: relative; }

.section-company:after {
  top: -70px; }

.advantages {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  font-size: 0;
  padding-bottom: 75px;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
  @media (max-width: 992.98px) {
    .advantages {
      padding-bottom: 25px; } }
  @media (max-width: 479.98px) {
    .advantages__column {
      -webkit-box-flex: 0;
      -ms-flex: 0 1 100%;
      flex: 0 1 100%; } }

.item-advantages {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  font-size: 0;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 19px; }
  @media (max-width: 479.98px) {
    .item-advantages {
      margin-bottom: 9px; } }
  .item-advantages__icon {
    width: 33px;
    height: 30px;
    text-align: center;
    padding-top: 4px;
    background-color: #2a5d68;
    border-radius: 10.0px;
    display: inline-block;
    margin-right: 15px; }
  .item-advantages__text {
    font-size: 16px;
    font-weight: 400;
    color: #18181f;
    max-width: 323px;
    margin-right: 68px; }
    @media (max-width: 767.98px) {
      .item-advantages__text {
        margin-right: 10px; } }

.icon-advantages {
  font-size: 21px;
  font-weight: 400;
  color: #ffffff; }

.images-company {
  position: relative;
  -webkit-box-flex: 0;
  -ms-flex: 0 1 50%;
  flex: 0 1 50%;
  -webkit-transform: translate3d(0, -75px, 0);
  transform: translate3d(0, -75px, 0);
  max-width: 694px;
  height: 494px; }
  @media (max-width: 1000px) {
    .images-company {
      -webkit-box-flex: 0;
      -ms-flex: 0 1 100%;
      flex: 0 1 100%;
      padding: 0; } }
  @media (max-width: 767.98px) {
    .images-company {
      -webkit-transform: translate3d(0, -60px, 0);
      transform: translate3d(0, -60px, 0); } }
  @media (max-width: 479.98px) {
    .images-company {
      min-height: 350px;
      height: 350px; } }
  .images-company__bg {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0; }
    @media (max-width: 992.98px) {
      .images-company__bg {
        position: relative; } }
    .images-company__bg img {
      max-width: 100%;
      -o-object-fit: contain;
      object-fit: contain; }
  .images-company__1 {
    position: absolute;
    top: 94px;
    left: 16px;
    z-index: 1; }
    @media (max-width: 650px) {
      .images-company__1 {
        top: 46px; } }
    @media (max-width: 479.98px) {
      .images-company__1 {
        top: 15px; } }
    .images-company__1 img {
      max-width: 100%; }
      @media (max-width: 1300px) {
        .images-company__1 img {
          max-width: 92%; } }
      @media (max-width: 650px) {
        .images-company__1 img {
          max-width: 88%; } }
  .images-company__2 {
    position: absolute;
    top: 190px;
    right: -32px;
    z-index: 2; }
    @media (max-width: 1300px) {
      .images-company__2 {
        right: -55px; } }
    @media (max-width: 650px) {
      .images-company__2 {
        top: 132px; } }
    @media (max-width: 479.98px) {
      .images-company__2 {
        top: 83px; } }
    .images-company__2 img {
      max-width: 100%; }
      @media (max-width: 1300px) {
        .images-company__2 img {
          max-width: 90%; } }
      @media (max-width: 650px) {
        .images-company__2 img {
          max-width: 83%; } }
  .images-company .elipse {
    position: absolute;
    background-color: #fff;
    border-radius: 50%;
    -webkit-box-shadow: 0px 33px 49px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 33px 49px 0px rgba(0, 0, 0, 0.1);
    display: inline-block;
    width: 96px;
    height: 96px;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    font-size: 0;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    z-index: 3; }
    .images-company .elipse img {
      max-width: 59px; }
  .images-company__elipse-top {
    right: 57px;
    top: 81px; }
    @media (max-width: 1662px) {
      .images-company__elipse-top {
        right: 30px;
        top: 70px; } }
    @media (max-width: 1300px) {
      .images-company__elipse-top {
        right: 0; } }
    @media (max-width: 479.98px) {
      .images-company__elipse-top {
        top: 30px; } }
  .images-company__elipse-bottom {
    bottom: -53px;
    right: 70px; }
    @media (max-width: 1662px) {
      .images-company__elipse-bottom {
        bottom: -20%;
        right: 110px; } }
    @media (max-width: 767.98px) {
      .images-company__elipse-bottom {
        bottom: -7%; } }

.how {
  background-color: #f6fbff;
  position: relative;
  margin-bottom: 50px;
  z-index: 2; }
  .how__title-1 {
    text-align: center;
    padding: 80px 0 95px 0; }
    @media (max-width: 992.98px) {
      .how__title-1 {
        padding: 40px 0 45px 0; } }
  .how__title-2 {
    padding-bottom: 35px;
    font-size: 48px;
    font-weight: 400;
    color: #18181f; }
    @media (max-width: 992.98px) {
      .how__title-2 {
        padding-bottom: 15px; } }
    @media (max-width: 479.98px) {
      .how__title-2 {
        font-size: 36px; } }
  .how__body {
    z-index: 2; }
  .how__numbers {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    font-size: 0; }
    .how__numbers li {
      font-size: 48px;
      line-height: 36px;
      font-weight: 400;
      margin-left: 44px; }
      @media (max-width: 992.98px) {
        .how__numbers li {
          margin-left: 15px; } }
      @media (max-width: 767.98px) {
        .how__numbers li {
          font-size: 36px; } }
      .how__numbers li.active {
        position: relative;
        margin-left: 66px; }
        @media (max-width: 992.98px) {
          .how__numbers li.active {
            margin-left: 20px; } }
        @media (max-width: 767.98px) {
          .how__numbers li.active {
            margin-left: 20px; } }
        .how__numbers li.active:before {
          display: block;
          position: absolute;
          top: -33px;
          left: -43px;
          z-index: 1;
          content: '';
          background-color: #2a5d68;
          border-radius: 52.4px;
          width: 108px;
          height: 106px; }
          @media (max-width: 767.98px) {
            .how__numbers li.active:before {
              width: 80px;
              height: 79px;
              top: -21px;
              left: -32px; } }
          @media (max-width: 479.98px) {
            .how__numbers li.active:before {
              width: 65px;
              height: 65px;
              top: -15px;
              left: -24px; } }
      .how__numbers li .number__item {
        padding-right: 140px;
        background-image: url("../img/main/how/dots.png");
        background-repeat: no-repeat;
        background-position: right center;
        position: relative;
        color: #2a5d68; }
        @media (max-width: 992.98px) {
          .how__numbers li .number__item {
            background-image: none;
            padding-right: 60px; } }
        @media (max-width: 767.98px) {
          .how__numbers li .number__item {
            padding-right: 25px; } }
        .how__numbers li .number__item.active {
          position: relative;
          z-index: 2;
          display: block;
          color: #fff; }
        .how__numbers li .number__item:after {
          content: '';
          position: absolute;
          bottom: -6px;
          left: 0;
          z-index: 1;
          height: 100%;
          width: 100%;
          background-color: #2a5d68;
          width: 25px;
          height: 3px; }
        .how__numbers li .number__item-last {
          background-image: none; }
  .how__content {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    font-size: 0;
    position: relative;
    left: 150%;
    width: 0;
    height: 0;
    opacity: 0;
    -webkit-transition: left .3s linear;
    -o-transition: left .3s linear;
    transition: left .3s linear;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
    .how__content.active {
      padding-top: 118px;
      opacity: 1;
      left: 0;
      width: 100%;
      height: 100%; }
      @media (max-width: 992.98px) {
        .how__content.active {
          padding-top: 70px; } }
      @media (max-width: 767.98px) {
        .how__content.active {
          padding-top: 30px; } }
    @media (max-width: 1070px) {
      .how__content {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center; } }
  .how__info {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 56.09091%;
    flex: 0 1 56.09091%;
    padding-left: 8.48485%;
    padding-bottom: 102px; }
    @media (max-width: 1300px) {
      .how__info {
        padding-bottom: 80px; } }
    @media (max-width: 1070px) {
      .how__info {
        -webkit-box-flex: 0;
        -ms-flex: 0 1 95%;
        flex: 0 1 95%;
        padding-left: 0;
        padding-bottom: 30px; } }
  @media (max-width: 479.98px) {
    .how__text {
      font-size: 22px;
      line-height: 30px; } }
  .how__image {
    position: absolute;
    right: 0;
    margin-left: 160px;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    font-size: 0;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end; }
    @media (max-width: 1070px) {
      .how__image {
        margin-left: 0;
        position: relative;
        -webkit-box-flex: 0;
        -ms-flex: 0 1 95%;
        flex: 0 1 95%;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center; } }
    .how__image img {
      max-width: 100%; }
      @media (max-width: 1662px) {
        .how__image img {
          max-width: 90%; } }
      @media (max-width: 1300px) {
        .how__image img {
          max-width: 80%; } }
      @media (max-width: 1100px) {
        .how__image img {
          max-width: 73%; } }

.section-how:after {
  -webkit-transform: translate3d(0, -100px, 0);
  transform: translate3d(0, -100px, 0); }

.bg-how {
  -webkit-transform: translate3d(0, -100px, 0);
  transform: translate3d(0, -100px, 0); }

.obsudim {
  padding-top: 58px; }
  .obsudim__body {
    position: relative;
    height: 100%;
    max-width: 1373px;
    margin: 0 auto;
    background-image: url("../img/bg-obsudim.png");
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-box-shadow: 0px 24px 57px 0px rgba(19, 81, 132, 0.1);
    box-shadow: 0px 24px 57px 0px rgba(19, 81, 132, 0.1);
    background-color: #f6fbff;
    border-radius: 20.0px;
    background-size: cover; }
    @media (max-width: 992.98px) {
      .obsudim__body {
        background-position: 53% 50%; } }
  .obsudim__info {
    max-width: 760px;
    margin-left: 101px;
    position: relative; }
    @media (max-width: 1662px) {
      .obsudim__info {
        margin-left: 62px; } }
    @media (max-width: 1300px) {
      .obsudim__info {
        margin-left: 35px; } }
    @media (max-width: 992.98px) {
      .obsudim__info {
        max-width: 436px; } }
    @media (max-width: 479.98px) {
      .obsudim__info {
        margin-left: 10px; } }
    .obsudim__info-bg {
      position: absolute;
      bottom: -127px;
      left: -79px;
      width: 507px;
      height: 507px; }
      .obsudim__info-bg img {
        max-width: 100%; }
  .obsudim__title {
    padding: 152px 0 45px 0; }
    @media (max-width: 1300px) {
      .obsudim__title {
        max-width: 500px;
        padding: 145px 0 45px 0; } }
    @media (max-width: 992.98px) {
      .obsudim__title {
        padding: 35px 0 25px 0; } }
  @media (max-width: 1300px) {
    .obsudim__text {
      max-width: 615px; } }
  .obsudim__form {
    padding: 125px 0 86px 0; }
    @media (max-width: 1300px) {
      .obsudim__form {
        padding: 50px 0 86px 0; } }
    @media (max-width: 992.98px) {
      .obsudim__form {
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        font-size: 0;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        padding: 30px 0 50px 0; } }

.section-obsudim:after {
  top: -63px; }

.form__input-obsudim {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 100%;
  flex: 0 1 100%;
  margin-right: 0; }
  @media (max-width: 767.98px) {
    .form__input-obsudim {
      -webkit-box-flex: 0;
      -ms-flex: 0 1 82%;
      flex: 0 1 82%; } }
  @media (max-width: 479.98px) {
    .form__input-obsudim {
      -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
      flex: 0 1 auto;
      padding: 20px 0px 17px 20px;
      font-size: 16px; } }

.form__btn-obsudim {
  margin-left: 15px;
  padding: 25px 80px 25px 80px; }
  @media (max-width: 992.98px) {
    .form__btn-obsudim {
      margin-left: 0;
      margin-top: 15px;
      padding: 20px 50px 17px 50px; } }

.portfolio {
  z-index: 2;
  position: relative;
  margin-top: 140px;
  margin-bottom: 64px; }
  .portfolio .images-company {
    position: relative;
    -webkit-box-flex: 0;
    -ms-flex: 0 1 50%;
    flex: 0 1 50%;
    -webkit-transform: translate3d(0, -75px, 0);
    transform: translate3d(0, -75px, 0);
    max-width: 694px;
    height: 494px; }
    @media (max-width: 1000px) {
      .portfolio .images-company {
        -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
        flex: 0 1 100%;
        padding: 0; } }
    @media (max-width: 767.98px) {
      .portfolio .images-company {
        -webkit-transform: translate3d(0, -60px, 0);
        transform: translate3d(0, -60px, 0); } }
    @media (max-width: 479.98px) {
      .portfolio .images-company {
        min-height: 350px;
        height: 350px; } }
    .portfolio .images-company__bg {
      position: absolute;
      height: 100%;
      width: 100%;
      top: 0;
      left: 0;
      z-index: -1; }
      @media (max-width: 992.98px) {
        .portfolio .images-company__bg {
          position: relative; } }
      .portfolio .images-company__bg img {
        max-width: 100%;
        -o-object-fit: contain;
        object-fit: contain; }
    .portfolio .images-company__1 {
      position: absolute;
      top: 94px;
      left: 16px;
      z-index: 1; }
      @media (max-width: 650px) {
        .portfolio .images-company__1 {
          top: 46px; } }
      @media (max-width: 479.98px) {
        .portfolio .images-company__1 {
          top: 15px; } }
      .portfolio .images-company__1 img {
        max-width: 100%; }
        @media (max-width: 1300px) {
          .portfolio .images-company__1 img {
            max-width: 92%; } }
        @media (max-width: 650px) {
          .portfolio .images-company__1 img {
            max-width: 88%; } }
    .portfolio .images-company__2 {
      position: absolute;
      top: 190px;
      right: -32px;
      z-index: 2; }
      @media (max-width: 1300px) {
        .portfolio .images-company__2 {
          right: -55px; } }
      @media (max-width: 650px) {
        .portfolio .images-company__2 {
          top: 132px; } }
      @media (max-width: 479.98px) {
        .portfolio .images-company__2 {
          top: 83px; } }
      .portfolio .images-company__2 img {
        max-width: 100%; }
        @media (max-width: 1300px) {
          .portfolio .images-company__2 img {
            max-width: 90%; } }
        @media (max-width: 650px) {
          .portfolio .images-company__2 img {
            max-width: 83%; } }
    .portfolio .images-company .elipse {
      position: absolute;
      background-color: #fff;
      border-radius: 50%;
      -webkit-box-shadow: 0px 33px 49px 0px rgba(0, 0, 0, 0.1);
      box-shadow: 0px 33px 49px 0px rgba(0, 0, 0, 0.1);
      display: inline-block;
      width: 96px;
      height: 96px;
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      font-size: 0;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      z-index: 3; }
      .portfolio .images-company .elipse img {
        max-width: 59px; }
    .portfolio .images-company__elipse-top {
      right: 57px;
      top: 81px; }
      @media (max-width: 1662px) {
        .portfolio .images-company__elipse-top {
          right: 30px;
          top: 70px; } }
      @media (max-width: 1300px) {
        .portfolio .images-company__elipse-top {
          right: 0; } }
      @media (max-width: 479.98px) {
        .portfolio .images-company__elipse-top {
          top: 30px; } }
    .portfolio .images-company__elipse-bottom {
      bottom: -53px;
      right: 70px; }
      @media (max-width: 1662px) {
        .portfolio .images-company__elipse-bottom {
          bottom: -20%;
          right: 110px; } }
      @media (max-width: 767.98px) {
        .portfolio .images-company__elipse-bottom {
          bottom: -7%; } }
  .portfolio__title {
    padding-top: 55px;
    padding-bottom: 65px;
    text-align: center; }
    @media (max-width: 992.98px) {
      .portfolio__title {
        padding-top: 25px; } }
    @media (max-width: 767.98px) {
      .portfolio__title {
        font-size: 64px; } }
  .portfolio__content {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    font-size: 0; }
    @media (max-width: 767.98px) {
      .portfolio__content {
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center; } }
  .portfolio__icon {
    font-size: 48px;
    line-height: 1.2;
    font-weight: 400;
    color: #bd1f1e; }
  .portfolio__info {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    padding-left: 66px;
    padding-top: 28px;
    padding-bottom: 74px; }
    @media (max-width: 1300px) {
      .portfolio__info {
        padding-top: 70px; } }
    @media (max-width: 992.98px) {
      .portfolio__info {
        -webkit-box-flex: 1;
        -ms-flex: 1 0 100%;
        flex: 1 0 100%;
        padding-top: 30px;
        padding-left: 0;
        padding-bottom: 50px; } }

.content-portfolio {
  width: 0;
  height: 0;
  position: relative;
  left: 150%;
  -webkit-transition: left .3s linear;
  -o-transition: left .3s linear;
  transition: left .3s linear;
  opacity: 0; }
  .content-portfolio.active {
    opacity: 1;
    left: 0;
    width: 100%;
    height: 100%; }
  @media (max-width: 992.98px) {
    .content-portfolio {
      -ms-flex-wrap: wrap;
      flex-wrap: wrap; } }
  .content-portfolio__images {
    position: relative;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 640px;
    flex: 0 0 640px; }
    @media (max-width: 1662px) {
      .content-portfolio__images {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 450px;
        flex: 0 0 450px; } }
    @media (max-width: 992.98px) {
      .content-portfolio__images {
        -webkit-box-flex: 1;
        -ms-flex: 1 0 100%;
        flex: 1 0 100%;
        max-height: 500px;
        max-width: 640px; } }
  .content-portfolio__title {
    font-size: 48px;
    line-height: 36px;
    font-weight: 400;
    color: #18181f;
    padding-bottom: 45px; }
  .content-portfolio__text {
    max-width: 739px;
    position: relative;
    font-weight: 400; }
    .content-portfolio__text span {
      position: absolute;
      right: 0px;
      bottom: -35px;
      font-size: 24px;
      font-weight: 400;
      color: #5c5cff; }
      .content-portfolio__text span:after {
        content: '';
        position: absolute;
        bottom: 0px;
        left: 0;
        z-index: 1;
        background-color: #5c5cff;
        height: 1px;
        width: 100%; }
  .content-portfolio__next {
    z-index: 2;
    position: absolute;
    bottom: 0;
    right: 0;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    font-size: 0;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    @media (max-width: 479.98px) {
      .content-portfolio__next {
        bottom: 30px; } }
    .content-portfolio__next span {
      font-size: 30px;
      line-height: 1.2;
      font-weight: 400;
      color: #18181f;
      position: relative;
      margin-right: 30px; }
      @media (max-width: 992.98px) {
        .content-portfolio__next span {
          font-size: 24px;
          margin-right: 15px; } }
      .content-portfolio__next span:after {
        content: '';
        position: absolute;
        width: 100%;
        height: 2px;
        bottom: -2px;
        left: 0;
        background-color: #18181f; }

.stats {
  padding-top: 75px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  font-size: 0;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  .stats__item {
    font-size: 36px;
    line-height: 1.2;
    font-weight: 400;
    color: #2a5d68; }
    @media (max-width: 767.98px) {
      .stats__item {
        font-size: 24px; } }
  @media (max-width: 1300px) {
    .stats {
      padding-top: 47px; } }

.list {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  font-size: 0;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding-bottom: 30px;
  z-index: 5; }
  @media (max-width: 992.98px) {
    .list {
      padding-bottom: 15px; } }
  @media (max-width: 767.98px) {
    .list {
      padding-bottom: 60px; } }
  @media (max-width: 479.98px) {
    .list {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; } }
  .list li {
    cursor: pointer;
    z-index: 5;
    margin-right: 64px; }
    @media (max-width: 992.98px) {
      .list li {
        margin-right: 25px; } }
    @media (max-width: 767.98px) {
      .list li {
        margin-right: 15px; } }
    @media (max-width: 479.98px) {
      .list li {
        margin-top: 10px;
        margin-right: 0; } }
  .list__item {
    height: 100%;
    font-size: 24px;
    font-weight: 400;
    color: #18181f;
    position: relative; }
    @media (max-width: 767.98px) {
      .list__item {
        font-size: 22px; } }
    .list__item.active:after {
      content: '';
      position: absolute;
      bottom: -10px;
      left: 0;
      z-index: 1;
      background-color: #18181f;
      height: 2px;
      width: 100%; }
      @media (max-width: 479.98px) {
        .list__item.active:after {
          bottom: 0; } }

.reviews {
  margin-top: 118px;
  margin-bottom: 133px;
  position: relative;
  background-color: #f6fbff; }
  @media (max-width: 992.98px) {
    .reviews {
      margin-bottom: 70px; } }
  .reviews__bg {
    top: -36px; }
  .reviews__title {
    padding: 130px 0 55px 0;
    text-align: center; }
    @media (max-width: 1300px) {
      .reviews__title {
        padding: 70px 0 35px 0; } }
    @media (max-width: 992.98px) {
      .reviews__title {
        padding: 60px 0px; } }
  .reviews__content {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    font-size: 0;
    margin: 0 -16px;
    -webkit-transform: translate3d(0, 75px, 0);
    transform: translate3d(0, 75px, 0); }
    @media (max-width: 1300px) {
      .reviews__content {
        margin: 0 -8px; } }
    @media (max-width: 992.98px) {
      .reviews__content {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        margin: 0;
        -webkit-transform: translate3d(0, 30px, 0);
        transform: translate3d(0, 30px, 0); } }
  .reviews__item {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 33%;
    flex: 0 1 33%;
    margin: 0 16px;
    padding: 0 47px;
    background-color: #fff;
    text-align: center;
    -webkit-box-shadow: 0px 24px 43px 0px rgba(19, 81, 132, 0.03);
    box-shadow: 0px 24px 43px 0px rgba(19, 81, 132, 0.03);
    border: 1.0px solid #d8f8ff;
    border-radius: 20.0px; }
    @media (max-width: 1300px) {
      .reviews__item {
        margin: 0 8px;
        padding: 0 25px; } }
    @media (max-width: 1300px) {
      .reviews__item .text {
        font-size: 22px; } }
    @media (max-width: 992.98px) {
      .reviews__item {
        margin: 25px 0 0 0; }
        .reviews__item:first-child {
          margin-top: 0; } }

.section-reviews:after {
  top: -175px; }

.item-review__content {
  padding: 40px 0 57px 0; }
  @media (max-width: 992.98px) {
    .item-review__content {
      padding: 30px 0 33px 0; } }

.item-review__name {
  font-weight: 500; }

.item-review__company {
  padding: 30px 0 58px 0; }
  @media (max-width: 1300px) {
    .item-review__company {
      padding: 30px 0 35px 0; } }

.brands {
  width: 100%;
  margin-bottom: 48px; }
  @media (max-width: 992.98px) {
    .brands {
      margin-bottom: 20px; } }
  .brands__row {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    font-size: 0;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    @media (max-width: 1300px) {
      .brands__row {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        margin: 0 -5px; } }

.brands__item {
  margin-right: 15px;
  text-align: center; }
  .brands__item img {
    max-width: 100%; }
  @media (max-width: 1300px) {
    .brands__item {
      -webkit-box-flex: 0;
      -ms-flex: 0 1 24%;
      flex: 0 1 24%;
      margin: 0 5px; } }
  @media (max-width: 1000px) {
    .brands__item {
      -webkit-box-flex: 0;
      -ms-flex: 0 1 48%;
      flex: 0 1 48%; } }
  @media (max-width: 479.98px) {
    .brands__item {
      -webkit-box-flex: 0;
      -ms-flex: 0 1 46%;
      flex: 0 1 46%; } }

 @media(max-width: 530px) {
    .slider-intro .slick-dots {
      bottom: 21px;
    }
  }